body{
    font-family: 'Inter', sans-serif;
    background-color: black;   
}
*{
    margin: 0;
    padding: 0;
}
.font-icon{
    display: none;
}
.nav-bar{
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: space-around;
}

.list{
    display: flex;
    width: 360px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 12px;
}
.list li a{
    text-decoration: none;
    margin: 20px;
    color: white;
}
.list li{
    list-style: none;
}
/* end of nav  */


.banner{
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 1250px;
    /* position: relative; */
    
    
    
}
.h1{
    margin-top: 72px;
}

.btn{
    display: flex;
    margin-top: 10px;

}
.image-section {
    position: relative;
    
}

.image>img{
   position: absolute;
    
}


.btn-primary{
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 30px;
    padding: 4px 15px;
    color: white;
}



.background-image {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    
    font-size: 16px;
}

.free-videos {
    margin: 142px -34px 0px 0px;

}

.video-tutorial {
    margin: 0 259px 19px 0;
    display: flex;
}
.circle{
    background-color: orangered;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 5px ;
}
.colors{
    background: linear-gradient(180.00deg, rgb(20, 20, 17),rgba(119, 119, 119, 0) 100%);
}
.colors> .banner> .h1>span{
    font-family: 'Miama', sans-serif;
                
}

/* End of banner section */

.habit{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    color: white;
    justify-content: center;
    text-align: center;
}
.images{
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.first{
    text-align: center;
    
}
.img-1st{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 1px solid white;
}
.second{
    text-align: center;
}

.third{
    text-align: center;
}
.fourth{
    text-align: center;
}

/* End of habit section */
.parent-card{
    display: flex;
    justify-content: center;
}

.card{
    color: white;
    height: 271px;
    width: 900px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    padding: 0 20px;


}
.run{
    background-image: url(./images/run.jpg);
    height: 212px;
    width: 266px;
    background-size: cover;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    
}

/* End of section parent card */

.bmi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 40px;

    
}

.sc{
    background-color: rgb(43, 43, 43);
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.bmi-table{
    border-collapse: collapse;
    margin-top: 40px;

}

.bmi-table th, .bmi-table td{
    border: 1px solid rgb(82, 81, 81);
    padding: 10px;
}

.bmi-table th{
    color: white;
    font-weight: bold;
    
}

.bmi-table td {
        color: rgb(182, 180, 180);
        font-size: 9px;
}

.calculate input{
    background-color: rgb(151, 148, 148);
    border: 1px solid rgb(151, 148, 148);
    border-radius: 5px;
    padding: 1.5%;
    margin-top: 5px;
}
.calculate select {
    background-color: rgb(151, 148, 148);
    border: 1px solid rgb(151, 148, 148);
    padding: 1.5%;
}

/* end of BMI section */
.idea{
    color: white;
    margin-top: 40px;

}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workout{
    display: flex;
    justify-content: space-evenly;
}

.wrk-1{
    height: 150px;
    width: 150px;
    border-radius: 12px;
    margin-top: 20px;
    border: 1px solid white;
}
.one{
    text-align: center;
}
.two{
    text-align: center;
}
.three{
    text-align: center;
}

/* End of invented section */

.meet{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}
.team{
   display: flex;
   justify-content: center;
}
.name{
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    width: 60%;
    margin-top: 40px;
    position: relative;
    
    
}

.img-1{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    
}
.trainer-1{
    position: absolute;
    top: 38%;
    left: 5%;
}
.trainer-2{
    position: absolute;
    top: 38%;
    left: 38%;
}
.trainer-3{
   position: absolute;
   top: 38%;
   left: 73%;
}

.trainer-4{
    position: absolute;
    top: 88%;
    left: 5%;

}
.trainer-5{
    position: absolute;
    top: 88%;
    left: 38%;
}

.trainer-6{
    position: absolute;
    top: 88%;
    left: 73%;
}

/* end of trainer section */
.parent-foot{
    display: flex;
    justify-content: center;
}
.foot{
    color: white;
    width: 60%;
    border-bottom: 1px solid rgb(77, 76, 76);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 20px;
}
.foot li{
    margin-top: 10px;
}

.foot-2 li{
    font-size: 12px;
    color: rgb(182, 180, 180);
    list-style: none;
}

.foot-3 li{
    font-size: 12px;
    color: rgb(182, 180, 180);
    list-style: none;
}

.last{
    color: rgb(182, 180, 180);
    font-size: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgb(32, 32, 32);
    margin-top: 60px;
}
/* End of footer */


/* Responsive  */

@media screen and (max-width: 576px){
    .list{
        display: none;

    }
    .font-icon{
        display: block;
    }
    .nav-bar{
        justify-content: space-between;
        margin: 0 10px;
    }
    /* End of navbar */
    .banner{
        flex-direction: column;
        width: 100%;
    }
    .banner h1{
        font-size: 2em;
        width: 100%;
    }
    .free-videos {
        margin: 112px -2px 0px 0px;
    
    }
    .video-tutorial {
        margin: 60px 250px 340px 90px;
        display: flex;
    }
    .habit{
        text-align: center;
    }
    .images{
        flex-direction: column;
       
    }

    .first{
        margin-top: 10px;
    }
    .second{
        margin-top: 10px;
    }
    .third{
        margin-top: 10px;
    }
    .fourth{
        margin-top: 10px;
    }
    .card{
        flex-direction: column;
        height: auto;
    }
    .run{
        margin-top: 20px;
    }

    .content > .btn-primary{
        padding: 5px 70px;
    
    }
    .bmi{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }
    .bmi>h1{
        font-size: 30px;
        
        
    }
    .chart{
        width: 100%;
        margin-left: 10px;
    }
    .calculate{
        margin-top: 10px;
        width: 100%;
    }
    
    .calculate>button{
        margin-bottom: 10px;
        padding: 10px 60px;
    }
    .idea{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .sc{
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }
    .workout{
       flex-direction: column;
    }

   
    .team{
        width: 100%;
    }
    .name{
        grid-template-columns: repeat(1,1fr);
    }
    .name-1{
        display: none;
    }
    .name-4{
        display: none;
    }
    
    .trainer-2{
        top: 18%;
        left: 8%;
    }
    .trainer-3{
        top: 44%;
        left: 8%;
    }
  
    .trainer-5{
        top: 70%;
        left: 8%;
    }
    .trainer-6{
        top: 95%;
        left: 8%;
    }
    .foot{
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }
    .foot-2{
        margin-top: 10px

    }
    .foot-3{
        margin-top: 10px;
    }


}
/* End of responsive  */